:root{
  --schedule-ui-background: #fff;
  --schedule-ui-header-background: #6b7676;
  --schedule-ui-days-color: #fff;
  --schedule-ui-days-background: rgba(0,0,0,0.2);
  --schedule-ui-days-size: .9em;
  --schedule-ui-font: Helvetica;
  --schedule-ui-border-color: #eee;
  --schedule-ui-content-row-padding: 0.1em;
  --schedule-ui-item-content-padding: 0.2em .1em;
  --schedule-ui-item-background: #efe;
  --schedule-ui-item-size: .8em;
  --schedule-ui-item-radius: .2em;
}

.schedule-ui{
  position: absolute;
  font-family: var(--schedule-ui-font);
  background-color: var(--schedule-ui-background);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .schedule-header{
    background-color: var(--schedule-ui-header-background);
    display: flex;
    align-items: flex-end;

    .schedule-days{
      display: flex;
      width: 100%;
      .schedule-day{
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;
        background-color: var(--schedule-ui-days-background);
        color: var(--schedule-ui-days-color);
        font-size: var(--schedule-ui-days-size);
        width: 100%;
      }
    }

  }

  .schedule-body{
    display: flex;
    .schedule-column{
      display: inline-block;
      width: 100%;
      border: 1px solid var(--schedule-ui-border-color);
      position: relative;
      .schedule-item{
        position: absolute;
        left: 0;
        width: 100%;
        font-size: var(--schedule-ui-item-size);
        padding: var(--schedule-ui-item-content-padding);
        .schedule-content{
          background-color: var(--schedule-ui-item-background);
          //overflow: hidden;
          display: flex;
          border-radius: var(--schedule-ui-item-radius);
          height: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .schedule-content-row{
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: var(--schedule-ui-content-row-padding);
            &:first-child{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}