<div class="ui-container ui-size-fluid ui-all-close ui-absolute dialog-box">
    <div class="ui-container ui-unwrap ui-vertical-center ui-size-fluid ui-all-close ui-absolute wrapper">
        <div class="ui-element ui-unwrap box ui-size-4">
            <div class="ui-element ui-flex ui-size-fluid ui-vertical-center message">
            </div>
            <div class="ui-container ui-size-fluid action ui-horizontal-right">
                <button class="no ui-hide light">${ui.component.text.cancel}</button>
                <button class="yes ui-hide light">${ui.component.text.yes}</button>
                <button class="ok light">${ui.component.text.ok}</button>
            </div>
        </div>
    </div>
</div>