<div class="super super-all-absolute dialog-box super-flex-center">
    <div class="super super-all-absolute super-flex-center wrapper">
        <div class="super super-l4 box super-flex">
            <div class="super super-l12 super-flex-center message">
            </div>
            <div class="super super-l12 action">
                <button class="no not-super light">${ui.component.text.cancel}</button>
                <button class="yes not-super light">${ui.component.text.yes}</button>
                <button class="ok light">${ui.component.text.ok}</button>
            </div>
        </div>
    </div>
</div>