<div class="ui-container ui-size-fluid ui-absolute ui-all-close form-popup right-alignment">
    <div class="ui-container ui-size-4 ui-column box">
        <div class="ui-element ui-size-fluid title">
        </div>
        <div class="ui-element ui-size-fluid body super-scrollable-y">
        </div>
        <div class="ui-element ui-size-fluid action super-al-right">
            <button class="light" data-value="cancel">${ui.component.text.cancel}</button>
            <button data-value="submit">${ui.component.text.submit}</button>
        </div>
    </div>
</div>