<div class="ui-container ui-unwrap ui-vfluid ui-all-center ui-hide ui-absolute ui-all-close layer-form down">
    <div class="ui-container ui-size-11 ui-sm-size-10 ui-md-size-8 ui-lg-size-6 box">
        <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center header">
            <div class="ui-container ui-size-9 text-bar">
            </div>
            <div class="ui-element ui-size-3 ui-horizontal-right close-zone">
                <icon class="las la-times"></icon>
            </div>
        </div>
        <div class="ui-element ui-size-fluid form-view">
        </div>
        <div class="ui-container ui-size-fluid ui-vertical-center ui-horizontal-right actions">
            <button class="ui-element" data-btn-type="cancel">${ui.component.text.cancel}</button>
            <button class="ui-element" data-btn-type="submit">${ui.component.text.submit}</button>
        </div>
    </div>
</div>