<card class="ui-element ui-size-fluid card" data-index="4">
    <button class="ui-element back-to-prev"><icon class="las la-arrow-left"></icon></button>
    <button class="ui-element layer-form-on session edit-session"
            data-layer-title="${ui.academic.session.text.edition}"
            data-layer-target="#academic-session"
            data-layer-name="session-edition"
    ><icon class="las la-edit"></icon></button>
    <button class="ui-element delete-session"><icon class="las la-trash"></icon></button>
</card>