<card class="ui-element ui-size-fluid card active course-list-tab" data-index="0">
    <button class="ui-md-element ui-hide" alternate="sort" direction="up">
        <icon class="las la-sort-alpha-up"></icon>
    </button>
    <button class="ui-md-element ui-hide" alternate="sort" direction="down">
        <icon class="las la-sort-alpha-down"></icon>
    </button>
    <button class="ui-md-element ui-hide" alternate="autofold" target=".course-list" self>
        <icon class="las la-compress-arrows-alt"></icon>
    </button>
    <div class="ui-md-element ui-lg-hide button-bubble">
        <button class="ui-element ui-md-hide">
            <icon class="las la-eye"></icon>
        </button>
        <div class="ui-container ui-horizontal-center bubble-box ui-hide left">
            <button class="ui-element" alternate="sort" direction="up">
                <icon class="las la-sort-alpha-up"></icon>
            </button>
            <button class="ui-element" alternate="sort" direction="down">
                <icon class="las la-sort-alpha-down"></icon>
            </button>
            <button class="ui-element" alternate="autofold" target=".course-list" self>
                <icon class="las la-compress-arrows-alt"></icon>
            </button>
        </div>
    </div>
    <button class="ui-element ui-size-3 ui-flex input-icon ui-relative">
        <icon class="las la-calendar"></icon>
        <kinput type="select" class="ui-element ui-size-fluid academic-year">
            <% for(var i in academic){
            %>
            <option placeholder="Année académique" value="<%= academic[i].id %>" class="<%= academic[i].id == currentYear ? 'selected' : ''%>"><%= academic[i].academie %></option>
            <%
            }
            %>
        </kinput>
        <icon class="las la-sort-down"></icon>
    </button>
    <button class="ui-element ui-size-3 ui-flex ui-vertical-center input-icon ui-relative">
        <icon class="las la-layer-group"></icon>
        <kinput type="select" class="ui-element ui-size-fluid academic-section ui-relative" multiple>
        </kinput>
        <icon class="las la-sort-down"></icon>
    </button>
    <button class="ui-element ui-size-3 ui-flex ui-vertical-center input-icon super-relative super-l3">
        <icon class="las la-users"></icon>
        <kinput type="select" class="ui-element ui-size-fluid academic-grade" multiple>
        </kinput>
        <icon class="las la-sort-down"></icon>
    </button>
    <button class="ui-element ui-size-3 ui-flex ui-vertical-center input-icon ui-relative">
        <icon class="las  la-sort-numeric-down"></icon>
        <kinput type="select" class="ui-element ui-size-fluid academic-session" multiple>
        </kinput>
        <icon class="las la-sort-down"></icon>
    </button>
    <button class="ui-md-element ui-sm-hide ui-hide">
        <icon class="las la-print"></icon>
    </button>
    <button class="ui-md-element ui-sm-hide ui-hide layer-form-on add-student"
        data-layer-title="${ui.sidemenu.course}"
        data-layer-name="course"
        data-layer-size="5,7,9,10"
    >
        <icon class="las la-plus"></icon>
    </button>
    <div class="ui-md-element ui-lg-hide button-bubble">
        <button class="ui-element">
            <icon class="las la-ellipsis-h"></icon>
        </button>
        <div class="ui-container ui-horizontal-center bubble-box ui-hide">
            <button class="ui-md-hide ui-sm-element">
                <icon class="las la-print"></icon>
            </button>
            <button class="ui-md-hide ui-sm-element layer-form-on add-student"
                    data-layer-title="${ui.sidemenu.course}"
                    data-layer-name="course"
                    data-layer-size="5,7,9,10"
            >
                <icon class="las la-plus"></icon>
            </button>
            <button class="ui-element">
                <icon class="las la-file-import"></icon>
            </button>
            <button class="ui-element">
                <icon class="las la-file-export"></icon>
            </button>
        </div>
    </div>
    <button class="ui-lg-element ui-md-hide ui-hide">
        <icon class="las la-file-import"></icon>
    </button>
    <button class="ui-lg-element ui-md-hide ui-hide">
        <icon class="las la-file-export"></icon>
    </button>
</card>