<div class="super form-add register-zone super-scrollable-y" id="Aka-yearForm">
    <div class="super super-l4 super-flex-center anneeAcademique">
        <span class="super super-l4 begin super-al-center"></span>
        <span class="super super-l2 super-al-center">-</span>
        <span class="super super-l4 end super-al-center"></span>
    </div>
    <div class="super super-l12">
        <label>${ui.academic.label.year.begin}</label>
        <div class="super super-l12 field static">
            <div class="super super-l12 combined super-flex-center">
                <icon class="super las la-calendar-day"></icon>
                <input type="date" class="input begin" required name="anneeAka_begin">
            </div>
        </div>
        <label>${ui.academic.label.year.end}</label>
        <div class="super super-l12 field static">
            <div class="super super-l12 combined super-flex-center">
                <icon class="super las la-calendar-day"></icon>
                <input type="date" class="input end" required name="anneeAka_end">
            </div>
        </div>
        <div class="super super-l12 anneeAka-year-alert alert-box not-super">
            <div class="super super-l12 wrapper super-flex-center">
                <icon class="ion-alert"></icon>
                <div class="super super-l10 text">
                </div>
            </div>
        </div>
    </div>
</div>