<div class="ui-container form-add register-zone ui-scroll-y" id="Aka-yearForm">
    <div class="ui-container ui-size-4 ui-vertical-center anneeAcademique">
        <span class="ui-element ui-size-4 ui-horizontal-center begin"></span>
        <span class="ui-element ui-size-2 ui-horizontal-center">-</span>
        <span class="ui-element ui-size-4 ui-horizontal-center end"></span>
    </div>
    <div class="ui-container ui-size-fluid">
        <label>${ui.academic.label.year.begin}</label>
        <div class="ui-container ui-size-fluid field static">
            <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center combined">
                <icon class="super las la-calendar-day"></icon>
                <input type="date" class="input begin" required name="anneeAka_begin">
            </div>
        </div>
        <label>${ui.academic.label.year.end}</label>
        <div class="ui-container ui-size-fluid field static">
            <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center combined">
                <icon class="super las la-calendar-day"></icon>
                <input type="date" class="input end" required name="anneeAka_end">
            </div>
        </div>
        <div class="ui-container ui-size-fluid anneeAka-year-alert alert-box ui-hide">
            <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center wrapper">
                <icon class="ion-alert"></icon>
                <div class="ui-container ui-size-10 text">
                </div>
            </div>
        </div>
    </div>
</div>