<inline-form class="ui-size-fluid ui-horizontal-left" id="academic-session">
    <div class="ui-container ui-size-fluid hint-box alert-box">
        <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center wrapper">
            <icon class="ion-information rounded"></icon>
            <div class="super super-l10 text">
                ${ui.academic.session.label.number.desc}
            </div>
        </div>
    </div>
    <div class="ui-container ui-size-fluid field">
        <label>${ui.academic.session.label.number}</label>
        <kinput type="number" name="sess_number" required class="ui-element ui-size-fluid input"></kinput>
    </div>
    <br><br>
    <div class="ui-container ui-size-6 wrapper left">
        <label>${ui.academic.session.label.date.begin}</label>
        <div class="ui-element ui-size-fluid field static">
            <div class="ui-element ui-flex ui-vertical-center ui-size-fluid combined">
                <icon class="ui-element las la-calendar-day"></icon>
                <kinput type="date" name="sess_begin" required class="ui-element ui-size-fluid input"></kinput>
            </div>
        </div>
    </div><!--
 --><div class="ui-container ui-size-6 wrapper right">
        <label>${ui.academic.session.label.date.end}</label>
        <div class="ui-element ui-size-fluid field static">
            <div class="ui-element ui-size-fluid combined ui-flex ui-vertical-center">
                <icon class="super las la-calendar-day"></icon>
                <kinput type="date" name="sess_end" required class="ui-element ui-size-fluid input"></kinput>
            </div>
        </div>
    </div>
</inline-form>