<template id="poste">
    <div class="ui-container ui-size-fluid person-form">
        <div class="ui-container ui-size-fluid ui-unwrap">
            <div class="ui-container ui-size-8 field">
                <label>${ui.component.label.town}</label>
                <kinput type="text" class="input ui-element ui-size-fluid" required name="poste_name" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
            </div>
            <div class="ui-container ui-size-4 field">
                <label>${ui.component.label.country}</label>
                <kinput type="number" class="input ui-element ui-size-fluid" required name="poste_capacity" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
            </div>
        </div>
        <div class="ui-container ui-size-fluid ui-unwrap">
            <div class="ui-container ui-size-8 field">
                <label>${ui.component.label.country}</label>
                <kinput type="number" class="input ui-element ui-size-fluid" required name="poste_linked" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
            </div>
            <div class="ui-container ui-size-4 field">
                <label>${ui.component.label.country}</label>
                <kinput type="number" class="input ui-element ui-size-fluid" required name="poste_capacity" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
            </div>
        </div>
    </div>
</template>