<template id="formScheduler">
    <%
        var data = utils.use('workDays');
    %>
    <div class="ui-container ui-horizontal-left ui-size-fluid person-form" id="scheduler-form">
        <div class="ui-container ui-size-fluid">
            <div class="ui-container ui-size-fluid field">
                <label>${ui.course.seance.day.choice}</label>
                <kinput type="select" class="ui-element ui-size-fluid input begin" required name="cr_day">
                    <%
                        for(var i in data.workDays){
                    %>
                        <option value="<%= i %>"><%= data.workDays[i] %></option>
                    <% } %>
                </kinput>
            </div>
        </div>
        <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-bottom wrapper">
            <div class="ui-container ui-size-6 field">
                <label>${ui.course.promotion}</label>
                <kinput type="select" class="ui-element ui-size-fluid input classroom" required name="cr_clsroom">
                    <%
                        for(var i in promotions){
                        %>
                        <option value="<%= promotions[i].id %>"><%= promotions[i].name %></option>
                        <%
                        }
                    %>
                </kinput>
            </div>
            <div class="ui-container ui-size-6 field">
                <label>${ui.course.room}</label>
                <kinput type="select" class="ui-container ui-size-fluid input room" required name="cr_room">
                    <%
                        var rooms = utils.use('room').room;
                        for(var i in rooms){
                    %>
                    <option value="<%= rooms[i].id %>"><%= rooms[i].name %></option>
                    <%
                        }
                    %>
                </kinput>
            </div>
        </div>
        <label>${ui.course.dispensation.choice}</label>
        <div class="ui-container ui-size-fluid hint-box alert-box">
            <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center wrapper">
                <icon class="ion-information rounded"></icon>
                <div class="ui-container ui-size-10 text">
                    ${ui.course.hour.interval.explanation}
                </div>
            </div>
        </div>
        <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-bottom wrapper">
            <div class="ui-container ui-size-6 field">
                <label>${ui.course.begin.hour}</label>
                <kinput class="ui-element ui-size-fluid input begin" required name="cr_beg_hour" match="^(0[8-9]|1[0-8]):(0[0-9]|[1-5][0-9])$" mask="##:##"></kinput>
            </div>
            <div class="ui-container ui-size-6 field">
                <label>${ui.course.end.hour}</label>
                <kinput class="ui-element ui-size-fluid input end" required name="cr_end_hour" match="^(0[8-9]|1[0-8]):(0[0-9]|[1-5][0-9])$" mask="##:##"></kinput>
            </div>
        </div>
    </div>
</template>