
<template id="studentForm">
    <div class="ui-element ui-size-fluid person-form ui-horizontal-left" id="student-form">
        <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center identification">
            <div class="ui-element ui-flex ui-size-4 ui-all-center">
                <div class="ui-element avatar-box">
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" class="ui-no-dimension" id="picture-file">
                    <avatar class="ui-element">
                        <icon class="las la-user"></icon>
                        <div class="background"></div>
                    </avatar>
                    <icon class="ui-element avatar-chooser ion-android-camera" trigger="#picture-file"></icon>
                </div>
            </div>
            <div class="ui-element ui-size-8 field-wrapper ui-horizontal-left">
                <div class="ui-element ui-size-fluid">
                    <div class="ui-element ui-size-fluid field">
                        <label>${ui.student.lastname.school}</label>
                        <kinput type="text" class="input ui-element ui-size-fluid" required name="st_nom" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
                    </div>
                </div><!--
             --><div class="ui-element ui-size-fluid field">
                    <label>${ui.student.firstname.school}</label>
                    <kinput type="text" class="input ui-element ui-size-fluid" required name="st_prenom" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
                </div>
                <div class="ui-element ui-size-fluid field">
                    <label>${ui.component.label.gender}</label>
                    <kinput type="select" class="input ui-element ui-size-fluid sexe" required name="st_sexe" match="^[\\S]$">
                        <option value="F">${ui.component.label.gender.female}</option>
                        <option value="M">${ui.component.label.gender.male}</option>
                    </kinput>
                </div>
            </div>
        </div>
        <div class="ui-container ui-unwrap ui-size-fluid ui-vertical-center group">
            <label class="linked ui-element ui-size-3">${ui.component.label.birthplace}</label>
            <div class="ui-element ui-size-9 ui-flex">
                <div class="ui-element ui-size-6 field">
                    <label>${ui.component.label.town}</label>
                    <kinput type="text" class="input ui-element ui-size-fluid" required name="st_birthplace_town" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
                </div>
                <div class="ui-element ui-size-6 field">
                    <label>${ui.component.label.country}</label>
                    <kinput type="text" class="input ui-element ui-size-fluid" required name="st_birthplace_country" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
                </div>
            </div>
        </div>
        <div class="ui-element ui-size-fluid ui-flex ui-vertical-center group">
            <label class="linked ui-element ui-size-3">${ui.component.label.birthdate}</label>
            <div class="ui-element ui-size-9 field">
                <div class="ui-element ui-size-fluid ui-flex ui-vertical-center combined">
                    <icon class="ui-element las la-calendar-day"></icon>
                    <kinput type="date" class="input ui-element ui-size-fluid" required name="st_birthdate"></kinput>
                </div>
            </div>
        </div>
        <div class="ui-element ui-size-fluid ui-flex ui-vertical-center group">
            <label class="linked ui-element ui-size-3">${ui.component.label.address}</label>
            <div class="ui-element ui-size-3 field">
                <label>${ui.component.label.street}</label>
                <kinput type="text" class="input ui-element ui-size-fluid" required name="st_address_street" match="^#? *[A-Za-zÀ-ÖØ-öø-ÿ0-9' -]+$"></kinput>
            </div>
            <div class="ui-element ui-size-3 field">
                <label>${ui.component.label.town}</label>
                <kinput type="text" class="input ui-element ui-size-fluid" required name="st_address_town" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
            </div>
            <div class="ui-element ui-size-3 field">
                <label>${ui.component.label.country}</label>
                <kinput type="text" class="input ui-element ui-size-fluid" required name="st_address_country" match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$"></kinput>
            </div>
        </div>
        <div class="ui-element ui-size-fluid ui-flex ui-vertical-bottom group">
            <div class="ui-element ui-size-6 field">
                <label>${ui.component.label.responsible.person.name}</label>
                <div class="ui-element ui-size-fluid ui-flex ui-vertical-bottom combined">
                    <kinput type="text" class="input ui-element ui-size-fluid" required match="^[A-Za-zÀ-ÖØ-öø-ÿ]+[A-Za-zÀ-ÖØ-öø-ÿ '-]*[A-Za-zÀ-ÖØ-öø-ÿ]$" name="st_person_ref"></kinput>
                </div>
            </div>
            <!--                        <label class="linked">Téléphone de la personne de référence</label>-->
            <div class="ui-element ui-size-6 field">
                <div class="ui-element ui-size-fluid ui-flex ui-vertical-bottom combined">
                    <div class="ui-element ui-size-4" style="padding: .1em 0">+509</div>
                    <kinput type="text" class="input ui-element ui-size-8" required mask="####-####" match="^[34][0-9]{3}-?[0-9]{4}$"  placeholder="XXXX-XXXX" name="st_phone_ref"></kinput>
                </div>
            </div>
        </div>
        <div class="ui-element ui-size-fluid ui-flex ui-vertical-bottom group">
            <div class="ui-element ui-size-6 field faculty">
                <label>${ui.component.label.academic.section}</label>
                <kinput type="select" class="input ui-element ui-size-fluid academic-section" required name="st_section" match="^[\\d]+$">
                </kinput>
            </div>
            <div class="ui-element ui-size-6 field grade">
                <label>${ui.component.label.class}</label>
                <kinput type="select" class="input ui-element ui-size-fluid academic-grade" required name="st_grade" match="^[\\d]+$">
                </kinput>
            </div>
        </div>
        <div class="ui-element ui-size-fluid group">
            <label class="ui-element ui-size-fluid">${ui.component.label.memo} (${ui.component.label.not.required})</label>
            <div class="ui-element ui-size-fluid field">
                <kinput type="textarea" class="ui-element ui-size-fluid" name="st_memo" placeholder="${ui.component.label.write.here}"></kinput>
            </div>
        </div>
    </div>
</template>