<header class="ui-container ui-size-fluid ui-vertical-center ui-unwrap">
    <div class="ui-container ui-size-10 ui-lg-size-5 ui-horizontal-left ui-vertical-center banner-sector">
        <span class="logo super"></span> Akademy
    </div>
    <div class="ui-hide ui-md-container ui-unwrap ui-horizontal-right ui-size-7 link-sector">
        <a href="." class="active">
            Accueil
            <span></span>
        </a>
        <a href="./communauty">
            Notre Organisation
            <span></span>
        </a>
        <a href="./apply">
            Inscription
            <span></span>
        </a>
        <a href="./login">
            <i class="ion-person"></i>Connexion
            <span></span>
        </a>
    </div>
    <div class="ui-container ui-column ui-size-2 ui-md-hide menu-action">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
    </div>
</header>
<menu class="ui-element ui-md-hide ui-size-12 ui-scroll-y">
    <a href="." class="active">
        Accueil
    </a>
    <a href="./communauty">
        Notre Organisation
    </a>
    <a href="./apply">
        Inscription
    </a>
    <a href="./login">
        <i class="ion-person"></i>Connexion
    </a>
</menu>
<view class="ui-container ui-size-fluid">
    <div class="ui-container ui-size-fluid ui-relative caroussel-simple">
        <div class="ui-container ui-size-12 main-img ui-absolute ui-all-close" style="background-image: url(~/assets/home.jpg)"></div>
        <div class="ui-container ui-absolute ui-all-close ui-vertical-center ui-horizontal-right">
            <div class="ui-container ui-size-8 greetings">
                Bienvenue sur la plateforme dédiée d'Akademy !
            </div>
        </div>
    </div>
    <div class="ui-container ui-size-12 global-presentation ui-horizontal-center">
        <div class="ui-container ui-size-fluid ui-relative last-word">
            <div class="ui-container ui-fluid ui-absolute ui-all-close academy-parallax" style="background-image: url(~/assets/academy.jpg)"></div>
            <div class="ui-container ui-column ui-md-row ui-unwrap ui-md-wrap ui-fluid ui-absolute ui-all-close ui-vertical-center greetings-word">
                <div class="ui-container ui-size-12 ui-md-size-7 word">
                    <h2>Sur le campus !</h2>
                    je commence à taper ceci comme si de rien n'était hier pour
                    aboutir aujourd'hui comme étant une information donnant accès aux différentes
                    priorités de ces jours qui comme on lit ceci est sans sens. C'est pour ainsi
                    dire qu'on venait de lire et de dire comment on peut aller aussi loin sans
                    jamais savoir les objectifs qui nous poussent de le faire.
                    Après tout, que comprenez-vous de tout ce qui vient d'écrire ?
                </div>
                <div class="ui-container ui-size-12 ui-md-size-5 ui-relative students">
                    <div class="ui-element ui-absolute oval"></div>
                    <div class="ui-element ui-size-fluid img" style="background-image: url(~/assets/student.png)"></div>
                </div>
            </div>
        </div>
        <h2>Nos chiffres</h2>
        <div class="ui-container ui-size-fluid">
            <div class="ui-container ui-size-12 ui-horizontal-center ui-md-size-6 ui-lg-size-4 ui-xl-size-3 stats">
                <icon class="ui-element icon las la-chalkboard-teacher"></icon>
                <div class="ui-element ui-size-fluid amount">
                    <div class="ui-element ui-size-fluid number">100</div>
                    <label>professeurs <i class="las la-angle-right"></i></label>
                </div>
            </div><!--
         --><div class="ui-container ui-size-12 ui-horizontal-center ui-md-size-6 ui-lg-size-4 ui-xl-size-3 stats">
                <icon class="ui-element icon las la-user-graduate"></icon>
                <div class="ui-element ui-size-fluid amount">
                    <div class="ui-element ui-size-fluid number">3.4 K</div>
                    <label>Étudiants <i class="las la-angle-right"></i></label>
                </div>
            </div><!--
         --><div class="ui-container ui-size-12 ui-horizontal-center ui-md-size-6 ui-lg-size-4 ui-xl-size-3 stats">
                <icon class="super icon las la-university"></icon>
                <div class="ui-element ui-size-fluid amount">
                    <div class="ui-element ui-size-fluid number">8</div>
                    <label>Filières <i class="las la-angle-right"></i></label>
                </div>
            </div><!--
         --><div class="ui-container ui-size-12 ui-horizontal-center ui-md-size-6 ui-lg-size-4 ui-xl-size-3 stats">
                <icon class="super icon las la-pencil-ruler"></icon>
                <div class="ui-element ui-size-fluid amount">
                    <div class="ui-element ui-size-fluid number">57</div>
                    <label>Cours offerts <i class="las la-angle-right"></i></label>
                </div>
            </div>
        </div>
    </div>
</view>