<template id="promotion-view">
    <div class="ui-container ui-size-fluid presentation-view promo-view">
        <div class="ui-element ui-size-fluid ui-flex ui-vertical-center head">
            <icon class="las la-arrow-left back-to-prev"></icon>
            <icon class="las sector-action layer-form-on la-edit"
                  data-id="<%= promotion.id %>"
                  data-layer-title="${ui.admin.promotion.title.edition}"
                  data-layer-name="promotionedit"></icon>
            <icon class="las sector-action la-trash" data-id="<%= promotion.id %>"></icon>
            <%
                var grade = utils.getClass(promotion.grade),
                    room = utils.getRoom(promotion.room);
            %>
            <text class="ui-element ui-size-6"><%= grade.notation+" "+room.name %> (<%= room.code %>)</text>
        </div>
        <div class="ui-element ui-size-fluid ui-flex list-wrapper">
            <div class="ui-element ui-size-fluid list-view">
                <div class="ui-element ui-size-fluid ui-flex ui-column head">
                    <text class="ui-element ui-size-fluid head-text">
                        ${ui.admin.promotion.student.list.title} (<%= promotion.promotion.length %>)
                    </text>
                </div>
                <div class="ui-element ui-size-fluid" style="height: inherit">
                    <div class="ui-element ui-size-fluid ui-scroll-y">
                        <%
                            var students = utils.getStudentsFromList(promotion.promotion),
                                empty = students.length == 0,
                                simple = true,
                                linked = true;
                            if(empty){
                        %>
                        <div class="ui-element ui-size-fluid ui-flex ui-all-center empty-box empty-infos">
                            <div class="ui-element">
                                <icon class="ui-element ui-size-fluid las la-user-graduate" style="font-size: 3em"></icon>
                                <br><br>
                                <text>
                                    ${ui.admin.promotion.students.list.empty.school}
                                </text>
                            </div>
                        </div>
                        <%  }
                            else{
                        %>
                            @("./student.list")
                        <%  } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-element float-action">
        <button class="ui-element promo-action layer-form-on"
                data-layer-name="transfer"
                data-layer-title="${ui.admin.promotion.transfer.title.school}"
                data-layer-size="8,10,12,12"
                data-grade="<%= promotion.grade %>"
                data-promo="<%= promotion.id %>">
            <icon class="las la-reply"></icon>
        </button>
        <button class="ui-element promo-action layer-form-on"
                data-layer-name="assign"
                data-layer-title="${ui.admin.promotion.assign.title}"
                data-layer-size="6,8,10,12"
                data-grade="<%= promotion.grade %>"
                data-promo="<%= promotion.id %>">
            <icon class="las la-plus"></icon>
        </button>
    </div>
</template>
@("./promotion.assign")
@("./promotion.transfer")